@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.hind-madurai-font{
  font-family: "Hind Madurai", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:900 ;
  font-style: normal;
}
body{
    margin: 0 auto;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 60px;
    

}

#nav-left{
    display: flex;
    gap: 10px;
    align-items: center;

}

#nav-left img{
    height: 50px;
    width: 50px;
}

#nav-left h3{
    color: rgba(0, 103, 71, 1);
}

#nav-right{
    display:flex;
    gap: 20px;
    
}

#nav-right img{
    height: 24px;
    width: 24px;
}
.nav-btn-style{
    align-items: center;
    height: 52px;
    display: flex;
    gap: 10px;
    background-color:rgba(65, 255, 107, 0.1);
    border: none;
    border-radius:50px;
    padding: 12px 30px;
}

#nav-copy-btn{
    background-color:rgba(0, 166, 62, 1) ;
    padding:0 36px;
}

